
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(237, 243, 186);
  
}

#main-form {
  margin-top: 10px;
  width: 480px;
  height: 500px;


}

.form-angular{
  display: flex;
  align-items: center;
 
}

#grow {
  width: 100%;
}

#grow-btn {
  width: 60%;
  margin-top: 20px;
  padding: 7px;
  border-radius: 5px ;
}
