
<app-toggle class="togg"></app-toggle>
<div class="wrapper">

    <app-card
     titulo="Basic"
     dollar="$"
     subtitulo="19.99"
     para01="500 GB Storage"
     para02="2 Users Allowed"
     para03="Send up to 3 GB"
     >
    </app-card>
  
    <app-card id="card"
     titulo="Professional"
     dollar="$"
     subtitulo="24.99"
     para01="1 TB Storage"
     para02="5 Users Allowed"
     para03="Send up to 10 GB"
    >
    </app-card>
  
    <app-card
     titulo="Master"
     dollar="$"
     subtitulo="39.99"
     para01="2 TB Storage"
     para02="10 Users Allowed"
     para03="Send up to 20 GB"
    >
    </app-card>
  
  </div>